<%+cbi/valueheader%>

<div>
	<% if self.legend then %>
	<span class='panel-title'>
		<%=self.legend%>
		<% if self.refresh then %>
		<a href='#' onclick='window.location.href=window.location.href; return false;'>
			<i style="vertical-align: unset;" id="repeat-scan"  class="fa fa-refresh fa-lg" aria-hidden="true" title="Refresh Page"></i>
		</a>
		<% end %>
	</span>
	<% end %>
	<div <% if self.scroll then %>style="overflow-x:scroll;white-space:nowrap;" <% end %>>
		<%-=self:cfgvalue(section)-%>
	</div>
</div>

<%+cbi/valuefooter%>
