<div class="form-group cbi-value<% if self.error and self.error[section] then %> cbi-value-error<% end %><% if self.last_child then %> cbi-value-last<% end %>" id="cbi-<%=self.config.."-"..section.."-"..self.option%>" data-index="<%=self.index%>" data-depends="<%=pcdata(self:deplist2json(section))%>">
	<%- if self.title and #self.title > 0 then -%>
		<label class="cbi-value-title"<%= attr("for", cbid) %>>
			<%- if self.titleref then -%><a title="<%=self.titledesc or translate('Go to relevant configuration page')%>" class="cbi-title-ref" href="<%=self.titleref%>"><%- end -%>
				<%-=self.title-%>
			<%- if self.titleref then -%></a><%- end -%>
		</label>
		<div class="cbi-value-field-toggle">
	<%- end -%>
	<% for i, key in pairs(self.keylist) do %>
		<input class="cbi-input-radio" data-update="click change" type="radio"<%=
			attr("id", cbid.."-"..key) ..
			attr("name", cbid) ..
			attr("value", key) ..
			ifattr((self:cfgvalue(section) or self.default) == key, "checked", "checked")
		%> />
		<label<%=
			attr("id", cbid.."-"..key) ..
			attr("for", cbid.."-"..key) ..
			attr("data-index", i) ..
			attr("data-depends", self:deplist2json(section, self.deplist[i]))
		%>><%=pcdata(self.vallist[i])%></label>
	<% end %>
<%+cbi/valuefooter%>
