<%# Copyright 2016 InvizBox Ltd
    https://www.invizbox.com/lic/license.txt
-%>

<%
    local uci = require("uci").cursor()
    local fs = require "nixio.fs"
%>

<%+header%>
<h2 name="content" id="Wizard_Complete">Wizard Complete</h2>
<div id="success">
    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
    <h1 class="success">Success!</h1>
    <h4 class="info-text"> Your InvizBox device is now fully set up.</h4>
    <h4 class="info-text"> Let's access the Status Page.</h4>
    <a href="/cgi-bin/luci/">
        <input type="button"
               class="btn btn-finish btn-default btn-primary"
               name="go"
               id="go"
               value="Status Page"
               style="display:block;"
        >
    </a>
</div>
<%+footer%>

<%
    local config_name = "vpn"
    uci:load(config_name)
    local username = uci:get(config_name, "active", "username") or ""
    local password = uci:get(config_name, "active", "password") or ""
    fs.writefile("/etc/openvpn/login.auth", username.."\n"..password)
    os.execute("/etc/init.d/openvpn restart")

    config_name = "wizard"
    uci:load(config_name)
    uci:set(config_name, "main", "complete", "true")
    os.execute("/etc/init.d/netwatch restart")
    uci:save(config_name)
    uci:commit(config_name)
%>

<script type="application/javascript">
    var xhr = new XHR()
    var uci_apply_auth = { sid: '<%=luci.dispatcher.context.authsession%>', token: '<%=token%>' }
    xhr.post('<%=url("admin/uci")%>/apply_unchecked', uci_apply_auth);
</script>
